
<vt-datatable-select (edit)="_edit($event)"  (remove)="_remove($event)" (add)="_new()"
                     [(list)]="lista" label="Bank">
    <vt-column name="name" type="String"  label="name"></vt-column><vt-column name="number" type="number"  label="number"></vt-column><vt-column name="bank" type="number"  label="bank"></vt-column><vt-column name="account" type="number"  label="account"></vt-column><vt-column name="intialvalue" type="number"  label="intialvalue"></vt-column><vt-column name="data" type="String"  label="data"></vt-column><vt-column name="active" label="active"></vt-column><vt-column name="saveaccount" label="saveaccount"></vt-column>
</vt-datatable-select>
