<div ng2FileDrop
     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
     (fileOver)="fileOverBase($event)"
     [uploader]="uploader"
     class="well my-drop-zone">
    Base drop zone
</div>
Single
<input type="file" ng2FileSelect [uploader]="uploader"/>
<br/>
<pre>
{{resumo}}
</pre>
<br/>
<table class="table">
    <thead>
    <tr>
        <th width="50%">Name</th>
        <th>Size</th>
        <th>Progress</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        <td *ngIf="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
        </td>
        <td class="text-center">
            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td nowrap>
            <button class="ui button" type="button"
                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
            <button class="ui button" type="button"
                    (click)="item.cancel()" [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button class="ui button" type="button"
                    (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
        </td>
    </tr>
    </tbody>
</table>
<br/>


<div>Contas:{{banks.length}}</div>
<div>Categorias:{{categories.length}}</div>
<div>Entradas:{{entries.length}}</div>
<div>
    <button class="ui button" (click)="salvarBank()">Salvar Bancos</button>
    <div class="ui teal progress" id="progresbank">
        <div class="bar"></div>
    </div>
    <button class="ui button" (click)="salvarCategory()">Salvar Categorias</button>
    <div class="ui teal progress" id="progrescategory">
        <div class="bar"></div>
    </div>
    <button class="ui button" (click)="salvarEntry()">Salvar Entradas</button>
    <div class="ui teal progress" id="progresentry">
        <div class="bar"></div>
    </div>
</div>
<!--<pre>{{resumo}}</pre>-->